body {
	
}

div {
	float:left;
}

form {
	text-align: left;
}

input[type="number"] {
	width: 70px;
}

legend {
	font-weight: bold;
}

#form1 {
	margin: auto;
	float: left;
}

#form2 {
	float:left;
}

#form3 { 
	margin: auto;
	float: left;
}
